* {
   box-sizing: border-box;
}

html, body {
   height: 100%;
}

body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: #f7f7f7;
   display: flex;
   justify-content: center;
   align-items: center;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
   monospace;
}


.bubble-field {
   display: flex;
   position: relative;
}

.bubble {
   border: 1px solid #4198d6;
   border-radius: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: white;
   box-shadow: 0 0 5px -1px #4198d6;

   position: absolute;
   left: 0;
}

.mb-30 {
   margin-bottom: 30px;
}
